.input {
    text-align: center;
    margin: 0 35vw;
    border-radius: 8px;
    background-color: #fff;
    padding: 5vw 2vw;
    font-size: 1vw;
    box-shadow: 1px 1px 4px #000;
}

.input-title__text {
    font-size: 1.5vw;
}

.input-box__item-submit {
    text-align: center;
    margin: 2vw;
}

.input-box__item-submit-button {
    font-size: 1.2vw;
    background-color: #1930ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5vw 1.5vw;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}